*{
    background-color: transparent;
}

/* Navigation Section */
.navigationbar{
    background-color: #F8F9F9;
    border-bottom: 1px solid;
}

.bar{  
    width: 100%;
    height: 4rem;
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    margin-left: -3.5rem;
}


.bar a {
    color: #000000;
    text-decoration: none;              
    position: relative;
    font-size: 1rem;
    margin-left: 3.5rem;
  }


  .bar a::after{
    content:"";
    position: absolute;
    background-color: black;
    height: 2px;;
    width: 100%;
    left: 0;
    display: block;
    transition: all 0.3s;
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  
  .bar a:hover,
  .bar a:focus {
    width: 100%;
    color: #;
  }

  .bar a:hover::after,
  .bar a:focus::after{
    opacity:3;
  }

/* Footer Section */
.footer {
  width: 100%;
  height: 9rem;
  color:rgb(144, 102, 140);
  background-color: #F8F9F9;
  border-top: 1px solid;
  position: relative;
}

.openhours {
  margin-top: 1rem;
  text-align: right;
  width:fit-content;
  height: fit-content;
  float:right;
  color: #222222;
  padding: 0 3rem;
}

.openhours h1{
  font-size: 1.5rem;
}
.openhours p1 {
  font-size: 1rem;
  list-style: none;
  display: flex;
  justify-content:left;
}
.openhours p2 {
  font-size: 1rem;
  list-style: none;
  display: flex;
  justify-content:left;
}

.contactus {
  margin-top: 1rem;
  text-align: left;
  width:fit-content;
  height: fit-content;
  float:left;
  color: #222222;
  padding: 0 3rem
}

.contactus h1{
  font-size: 1.5rem;
}
.contactus p1, p2, p3 {
  font-size: 1rem;
  list-style: none;
  display: flex;
  justify-content:left;
}

.socialmedia__container {
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-content: center;
  width: -webkit-fill-available;
}

.socialmedia {
  text-decoration: none; 
  background-color: #F8F9F9;
  position: center;
  width:fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  display:table;

}

.company {
  list-style: none;
  margin-left: 26rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.socialmedia a {
  width: 3rem;
  height: 3rem;
  text-decoration: none; 
  margin-left: 2rem;
  justify-content: space-around;
  border-radius: 50%;
  border-color: transparent;
}

.socialmedia i {
    background-color: transparent;
}

.socialmedia a:hover {
  opacity: 2;
}

.socialmedia a:link {
  color: white;
  text-decoration: none;
}

/* Home section */
.home {
  background-color: black;
  width: 100%;
  height: 35rem;
  position: relative;
  top: 100%;
  left: 0px;
  border: none;
  margin-top: 0.015rem;
}


.figure {
  background-color: black;
  width: 36.85%;
  height: 20%;
  float: right;
  border: none;
  object-fit: none;
}

.home__txt {
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  padding: 0 9rem;
  
}
.home__txt p2, p3 {
  background-color: transparent;
  color: #F8F9F9;
}

.home__txt p2 {
  font-size: 3rem;
  opacity: 1;
  width: 55rem;
}

.home__txt p3{
  margin-top: 4.5rem;
  width: 30rem;
  font-size: large;
}

.home__txt button {
  margin-top: 1rem;
}
.acceuil {
  background-image: url(https://demo2wpopal.b-cdn.net/bedove/wp-content/uploads/2021/05/h1_shape-1.png);
  background-position: top left;
  background-repeat: no-repeat;
  padding: 2rem 4rem;
  width: 100%;
  height: 47rem;
  background-color:#F8F9F9;
}

.acceuil__container__all{
  width: fit-content;
}
.acceuil__container__txt {
  float: right;
  position: relative;
  margin-top: 4rem;
  justify-content: end;
  margin-right: 10rem;
  background-color: transparent;
}
.acceuil__container__txt h5{
  font: initial;
  font-size: xxx-large;
  background-color: transparent;
}
.acceuil__container__txt p{
  width: 35rem;
  font-size: 1.1rem;
  background-color: transparent;
}
.widget__container {
  float: left;
  display: block;
  width: 23rem;
  height: 45rem;
  align-items: center;
  display: flex;
  margin-left: 5rem;
  background-color: transparent;
  position: absolute;
}

.widget__one {
  z-index: 1;
  background-color: transparent;
}
.widget__container>.widget__one img {
  vertical-align: middle;
  display: inline-block;
  width: 20rem;
  height: 33rem;
  border-style: solid;
  border-width: 8px;
  border-color: #F8F9F9;  
  background-color: transparent;
}

.elementor-widget-container {
  text-align: left;
  margin-left: 2rem;
  position: absolute;
  margin-top: 6.05rem;
  z-index: 2;
}

.elementor-widget-container-sec {
  text-align: left;
  margin-left: 18rem;
  position: absolute;
  margin-top: 30rem;
  background-color: transparent;
}

.ceo__txt {
  float: right;
  position: relative;
  margin-right: 2rem;
  margin-left: 50rem;
  background-color: transparent;
  
}
.txt {
  width: 30rem;
  margin-left: -35rem;
  margin-top: 4rem;
  position: absolute;
}
.ceo__txt h6{
  font: initial;
  font-size: xxx-large;
  background-color: transparent;
  float: left;
  position: relative;
}
.ceo__txt p{
  width: 35rem;
  font-size: 1.1rem;
  background-color: transparent;
  float: left;
}

.ceo__txt img {
  border-radius: 100%;
  float: inherit;
  margin-top: 2rem;
  margin-right: -4rem;
}

/* Coiffeuses section*/



.color-white {
  color:black;
}

.flip-box {
  transform-style: preserve-3d;
  perspective: 10000px;
  cursor: pointer
}

.flip-box-front,
.flip-box-back {
 background-size: cover;
 background-position: center;
 border-radius: 8px;
 min-height: 475px;
 transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
 backface-visibility: hidden; 
}

.flip-box-front {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}


.flip-box-front .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 60px;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
  transform: translateZ(-50%)translateZ(60px) scale(.94);
  top: 50%;
  border: 5px solid #dbbdac;
  padding: 20px;
  border-bottom-right-radius: 75px;
  background-color: #dbbdac;
}

.flip-box-back .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 60px;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
  transform: translateZ(-50%)translateZ(60px) scale(.94);
}


.flip-box p{
  font-size: 20px;
  line-height: 1.5rem;
}

/* Sign up section */
.wrapper {
  background-image: url(https://demo2wpopal.b-cdn.net/bedove/wp-content/uploads/2021/05/h1_bg-1.jpg);
  background-size: cover;
  padding: 10px 10px 10px 10px;
  width: 90%;
  border: bisque;
  margin-left: 5rem;
  /* margin-top: 1rem; */
  border-radius: 2rem;
  height: 25rem;
  border-style: solid;
  border-color: black;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.row {
  width: 300px;
  height: 550px;
  border-radius: 10px;
  width: fit-content;
}

.side-image {
  
  background-position: cennter;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10% 0 10px;
}

.img{
  width: 35px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text p {
  color: #000000;
  font-size: 40px;
  font-style: italic;
  font-family: fantasy;
}

.p {
  margin-top: 0;
  margin-bottom: -10rem;
}

.i {
  font-weight: 400;
  font-size: 15px;
}

.right {
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input-box {
  width: 330px;
  box-sizing: border-box;
}

.input-box header{
  font-weight: 700;
  text-align: center;
  margin-bottom: 45px;
  font-size: xx-large;
}

.input-field {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 10px 0 10x;
}

.input {
  height: 45px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  outline: none;
  margin-bottom: 20px;
  color: #40414a;
}

.input-box .input-field label {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: .5s;
}

.input-field .input:focus ~ label {
  top: -10px;
  font-size: 13px;
}

.input-field .input:valid ~ label {
  top: -10px;
  font-size: 13px;
  color: #5d5076
}

.input-field .input:focus, .input-field .input:valid ~ label  {
  border-bottom: 1px solid #743ae1;
}

.submit {
  outline: none;
  border: none;
  height: 45px;
  background: #ececec;
  border-radius: 5px;
  transition: .4s;
}

.submit:hover {
  background: rgba(37, 95, 156, 0.9);
  color: #fff;

}

.signin {
  text-align: center;
  font-size: small;
  margin-top: 25px;
}

.span a {
  text-decoration: none;
  font-weight: 700;
  color: black;
  transition: .5s;
}

.span a:hover {
  text-decoration: underline;
  color: black
}


.services {
  max-height: max-content;
}