*{
    background-color: #F8F9F9;
}

/* Navigation Section */
.navigationbar{
    background-color: #F8F9F9;
    border-bottom: 1px solid;
}

.bar{  
    width: 100%;
    height: 4rem;
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    margin-left: -3.5rem;
}


.bar a {
    color: #000000;
    text-decoration: none;              
    position: relative;
    font-size: 1rem;
    margin-left: 3.5rem;
  }


  .bar a::after{
    content:"";
    position: absolute;
    background-color: black;
    height: 2px;;
    width: 100%;
    left: 0;
    display: block;
    transition: all 0.3s;
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  
  .bar a:hover,
  .bar a:focus {
    width: 100%;
    color: rgb(144, 102, 140);
  }

  .bar a:hover::after,
  .bar a:focus::after{
    opacity:1;
  }

/* Footer Section */
.footer {
  width: 100%;
  height: 5rem;
  color:rgb(144, 102, 140);
  background-color: #F8F9F9;
  border-top: 1px solid;
  position: relative;
}

.openhours {
  text-align: right;
  width:fit-content;
  height: fit-content;
  float:right;
  color: #222222;
}

.openhours h1{
  font-size: 1.5rem;
}
.openhours p1 {
  font-size: 1rem;
  list-style: none;
  display: flex;
  justify-content:left;
}
.openhours p2 {
  font-size: 1rem;
  list-style: none;
  display: flex;
  justify-content:left;
}

.socialmedia__container {
  width: 100%;
  height: 4rem;
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: -1rem;
  flex-direction: column;
}

.socialmedia {
  text-decoration: none; 
  background-color: #F8F9F9;
  position: center;
  width:fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  display:table;

}

.company {
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.socialmedia a {
  width: 3rem;
  height: 3rem;
  text-decoration: none; 
  margin-left: 2rem;
  justify-content: space-around;
  border-radius: 50%;
  border-color: transparent;
}

.socialmedia i {
    background-color: transparent;
}

.socialmedia a:hover {
  opacity: 2;
}

.socialmedia a:link {
  color: white;
  text-decoration: none;
}
